@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@600;700&display=swap');

*{
    margin:0;
    padding: 0;
    text-decoration: none;
}
body{
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: #fff;
    display: grid;
    place-items: center;
}

.card{
    width: 500px;
    min-height: 500px;
    padding: 50px 40px;
    background-color: #672557;

}
.card-header{
    margin-bottom: 30px;
} 

.card-main .card-main-header h1{
    font-family: 'Raleway', sans-serif;
    
}

.card-main-header .text1{
    font-size: 32px;
    font-weight: 600;

}
.card-main-header .text2{
    font-size: 26px;
    padding-right: 10px;
    font-weight: 700;
    
}

.card-main .card-main-buttom a{
    
    display:block;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color:#672557;
    background-color:#fff;
    border-radius:7px;
    margin: 35px 0;
    padding: 10px 0;
    line-height: 1.5 ;


}

.card-main .card-main-footer p{
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size:18px;
    text-align: justify;
   
}
.card-footer{
    font-family: 'Lato', sans-serif;
    font-weight:400;
    position: relative;
    font-size:18px;
    margin-top: 40px;
    padding-left: 8px;
    line-height: 22px;


}
.card-footer::before{
    content:'';
    position:absolute;
    width:1.5px;
    height:40px;
    background-color:#fff;
    left:0;
    top:50%;
    transform:translatey(-50%);
}